html, body{
    margin: 0;
    background: #ebedf0;
    font-family:Arial, sans-serif;
}

#aviso-caixa-login{
    font-family: Arial;
    font-size: 12px;
    margin-top: 20px;
}

#barra_horizontal_topo{
    border: 1px Solid #009ACD;
    background:#009ACD;
    height: 60px;
    box-shadow: 2px 5px 5px #CCC;
}

#barra_horizontal_topo > h3{
    font-family: arial;
    color: black;
    margin-left: 80px;
    margin-top: -28px;
    font-size: 12px;
}

#logo_psicologia{
    margin-top: 10px;
    margin-left: 20px;
}

#caixa-login{
    border: 1px Solid #CCC;
    background: White;
    width: 450px;
    padding: 10px;
    /*height: 350px;*/
    margin-top: 20px;
    box-shadow: 2px 2px 10px #CCC;
    border-radius: 10px;
}

#caixa-login-titulo{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: Arial;
    font-size: 12px;
    padding: 20px;
    border-bottom: 1px Solid #CCC;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    background: #009ACD;
    color: black;
    font-weight: bold;
}

#campo-login{
    padding: 8px;
    width: 350px;
    margin-top: 15px;
}

.botao-login{
    margin-top: 15px;
    width: 120px;
    padding: 8px;
}

img{
    vertical-align: middle;
}

#barra_lateral_esquerda{
    border-right: 1px Solid #CCC;
    background: #333;
    width: 250px;
    height: 100%;
    position: absolute;
}

#barra_lateral_esquerda, li > a{
    color: #B8B8B8;
}

#barra_lateral_esquerda > ul{
    border-bottom: 0.1px Solid #444;
    list-style: none;
    padding-bottom: 10px;
    padding-left: 10px;
    vertical-align: middle;
}

barra_lateral_esquerda > li{
    list-style: none;
    padding-left: 10px;
}

ul, li > a{
    text-decoration: none;
    vertical-align: middle;
    /*color: #B8B8B8;*/
    /*padding-left: 10px;*/
    /*padding-bottom: 15px;*/
}

ul, li{
    list-style: none;
}

#area_principal{
    /*border: 1px Solid #CCC;
    background: white;*/
    /*width: 60%;*/
    /*height: 450px;*/
    margin-left: 290px;
    /*margin-top: 20px;*/
    padding: 10px;
    /*box-shadow: 2px 2px 10px #CCC;*/
    text-align: left;
    position: relative;
}

#area_principal > p{
    padding: 10px;
}

#aviso{
    border: 1px Solid #CCC;
    padding: 10px;
    background: white;
    margin-top: 20px;
    box-shadow: 2px 2px 10px #CCC;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

#tabela{
    border: 1px Solid #CCC;
    border-collapse: collapse;
    text-align: left;
}

#td-tabela{
    border: 1px Solid #CCC;
    padding: 10px;
}

#tr-tabela{
    border: 1px Solid #CCC;
    padding: 10px;
}

#paginacao{
    text-align: left;
}

#info-dash{
    border: 1px Solid #CCC;
    width: 200px;
    height: 80px;
    background: white;
    padding: 10px;
    display: inline-block;
    box-shadow: 2px 2px 10px #CCC;
}

#btn-novo-exame{
    border: 1px Solid #009ACD;
    background: #009ACD;
    padding: 10px;
    text-decoration: none;
    color: white;
    float: right;
    margin-right: 50px;
    font-weight: bold;
}

#informacoes-paciente{
    margin-top: 50px;
    margin-left: 50px;
    position:relative;
}

#botao-paginacao{
    border: 1px Solid #009ACD;
    padding: 5px;
    background: #009ACD;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}